<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>local.pinyinlab.inputmethod</string>
	<key>CFBundleExecutable</key>
	<string>LocalPinyin</string>
	<key>CFBundleName</key>
	<string>LocalPinyin</string>
	<key>CFBundleDisplayName</key>
	<string>本地拼音实验版</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>InputMethodConnectionName</key>
	<string>local.pinyinlab.inputmethod_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>LocalPinyinInputController</string>
	<key>InputMethodType</key>
	<string>Keyboard</string>
	<key>TISInputSourceID</key>
	<string>local.pinyinlab.inputmethod</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hans</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
		<string>Latn</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>local.pinyinlab.inputmethod.Hans</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>local.pinyinlab.inputmethod.Hans</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
					<string>Latn</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>LocalPinyin-menu.pdf</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>LocalPinyin-menu.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>LocalPinyin-menu.pdf</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>local.pinyinlab.inputmethod.Hans</string>
		</array>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>tsInputMethodIconFileKey</key>
	<string>LocalPinyin-menu.pdf</string>
	<key>TISIconIsTemplate</key>
	<true/>
</dict>
</plist>
